<div class ="cat">
  <section class="cat-section">
    <div class="back">
      <%= link_to "/categories/#{@selected_category.id}/expenditures" do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
    <h1>Add a new Expenditure</h1>

  </section>

  <%= form_for(@expenditure, url: "/categories/#{@selected_category.id}/expenditures") do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Name", class: "fields" %>
    </div>
    <div class="field">
      <%= f.label :amount %>
      <%= f.number_field :amount, placeholder: "Amount", class: "fields" %>
    </div>
    <p>List of Categories </p>
    <div class="form-check1">
      <% @categories.each do |category| %>
        <% if category.id == @selected_category.id %>
          <%= hidden_field_tag 'category_ids[]', category.id %>
          <%= check_box_tag 'category_ids[]', category.id, true, disabled: true %>
        <% else %>
          <%= check_box_tag 'category_ids[]', category.id %>
        <% end %>
        <%= category.name %><br>
      <% end %>
    </div>
  
    <div class="actions">
      <%= f.submit "Save" %>
    </div>
  <% end %>
</div>